@use '../../styles/constants.module.scss' as constants;
@use '../../styles/functions.module.scss' as functions;
@use '../../styles/mixin.module.scss' as mixin;

.button {
  width: 100%;
  height: 100%;

  padding-left: functions.rem(10);
  padding-right: functions.rem(10);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: inherit;

  background-color: constants.$buttonBackgroundPrimary;

  color: constants.$textSecondaryColor;
  font-size: functions.rem(13);
  font-weight: 400;

  @include mixin.anyHover {
    opacity: 0.8;
  }
}

.button:disabled {
  background-color: constants.$colorSilver;
}

.button:active {
  position: relative;
  top: functions.rem(2);
}

.hidden {
  display: none;
}
