@use '../../styles/constants.module.scss' as constants;
@use '../../styles/functions.module.scss' as functions;
@use '../../styles/mixin.module.scss' as mixin;

.nav {
  .nav-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: functions.rem(10);
    @include mixin.adaptiveClamp($property: column-gap, $startSize: 50, $minSize: 20);

    .nav__item {
      @include mixin.last {
        color: constants.$promotionColor;
      }

      a {
        display: flex;
        column-gap: functions.rem(10);
        @include mixin.font($size: 16, $height: 120%, $weight: 400);
        color: constants.$colorTundora;

        span::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

.nav {
  .burger {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: functions.rem(31);
  }
}
