@use '../../styles/constants.module.scss' as constants;
@use '../../styles/functions.module.scss' as functions;

.form {
  display: flex;
  flex-direction: column;
  row-gap: functions.rem(30);

  &__button {
    border-radius: functions.rem(10);
    height: functions.rem(70);
    display: flex;
    flex-direction: column;
    row-gap: functions.rem(10);
  }

  &__footer {
    display: flex;
    align-items: center;
    column-gap: functions.rem(20);
    color: constants.$bgBurgerLineColor;

    font-size: functions.rem(12);
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: functions.rem(30);

  & > label {
    width: rem();
    height: functions.rem(38);
    border-radius: functions.rem(10);
    border: functions.rem(1) solid constants.$whiteColor;

    input {
      caret-color: constants.$whiteColor;
      color: constants.$whiteColor;
    }
  }
  span {
    color: constants.$redColor;
  }
}

.error {
  color: constants.$redColor;
}
