@use '../../styles/constants.module.scss' as constants;
@use '../../styles/functions.module.scss' as functions;
@use '../../styles/mixin.module.scss' as mixin;

.input {
  padding: 0 functions.rem(10);
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.error {
  box-shadow: 1px 1px 2px 0 constants.$redColor;
}

.password-label {
  display: block;
  margin-top: functions.rem(10);
  @include mixin.font($size: 12, $height: 120%, $weight: 400);
  color: constants.$whiteColor;
}

.hidden {
  display: none;
}

.readonly {
  color: constants.$colorSilver;
}
